a:hover{
    text-decoration: none;

}


html{
    box-sizing: border-box;
    font-size: 16px;
}
.header{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 105vh;
    padding-top: 20px;
}
.nav{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 3px;
    padding: 5px 5px;
    position: absolute;
    transform: all 0.3s;
    background: white;
    z-index: 9;
    top: 0px;
    width: 100%;

}
.nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.nav ul li{
    display: flex;
}
.nav ul li a{
    text-decoration: none;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 1.1em;
    color: #333;
    padding: 0.25rem 0;
    margin: 0 1.80rem;
    text-transform: uppercase;
}
.nav ul li.logo .black{
    display: none;

}
.nav ul li.logo a{
    margin: 0 4rem;
}
.nav-icon{
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 5px;
    width: 40px;
    z-index: 1;
    cursor:pointer
}
.nav-icon span{
    background: #333;
    width: 30px;
    height: 1px;
    display: block;
    transition: 300ms linear all;
}
.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3){
    width: 20px;
    margin: 0 auto;
}
.nav-icon span:nth-child(2){
    margin: 5px 0;
    width: 32px;
}
.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3){
    width: 30px;
}
.full-nav{
    background:#f1c30f;
    color: #18191d;
    position:absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 3.75rem;
    z-index: 99;
    overflow-y: hidden;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
    transition: all .4s ease-in-out;
}

.full-nav.open{
    height: auto;
    align-items: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all .4s ease-in-out;
    z-index: 99;
}
.full-nav .logo{
    display: flex;
    flex: wrap;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    height: 200px;
    padding: 6rem;

}
.hero-fb--title-copy {
    display: block;
    position: relative;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 20px 20px 0;}
.nav2{
    display: flex;
    justify-content: center;

}
.nav2 ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: auto;
    font-weight: 100;
}
.nav2 ul li{
    display: flex;
    flex: 100%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-bottom: 10px solid #f1c30f;
    border-right: 10px solid #f1c30f;
    transition: all 0.5s;

}
.nav2 ul li a{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 1.4em;
    color: #18191d;
}
.nav2 ul li a span{
    color: #b9b9b9;
}
.nav2 ul li:hover{
    background-color: #ff1637;
}
.nav2 ul li:hover a,
.nav2 ul li:hover a span{
    color: white;
}
.corner-circle{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 0 0 0 120px;
    z-index: 2;
}
.nav-close{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.nav-close span{
    background: #18191d;
    width: 30px;
    height: 1px;
    display: block;
    position: absolute;
    top: 14px;
}
.nav-close span:nth-child(1){
    transform: rotate(45deg);
}
.nav-close span:nth-child(2){
    transform: rotate(-45deg);
}
.nav.sticky{
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    animation-name: animationFade;
    animation-duration: 1s;
    animation-fill-mode: both;

}

@keyframes animationFade{

    from{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);

    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform:none;
        -o-transform: none;


    }
}


.nav.sticky a{
    color: #18191d;
}
.nav.sticky ul li.logo .white{
    display: none;
}
.nav.sticky ul li.logo .black{
    display: inline-block;
}
.nav.sticky .nav-icon span{
    background: #18191d;
}
#herovideo{
 position: absolute;
 right: 0;
 bottom: 0;
}
@media(min-aspect-ratio:16/9){
   #herovideo{
       width: 100%;
       height: auto;
   }

}
@media(max-aspect-ratio:16/9){
    #herovideo{
        width: auto;
        height: 100%;
    }
 
 }
.vidcontent{
    position: absolute;
    top: 290px;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    text-align: left;

}
.vidcontent h1{
    font-family: 'oswald',sans-serif;
    font-size: 5em;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.vidcontent p{
    font-family: 'Roboto Condensed',sans-serif;

}
#about-us .carousel-indicators{
    position: static;
    padding-top: 30px;

}
#about-us .carousel-indicators li{
   background-color: black;
   width: 12px;
   height: 12px;
   margin-left: 5px;

    
}
#about-us h3{
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #6c757d !important;
}
p.lead{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    color: #f7cc4b !important;
    font-weight: bold;
}
#contents{
    height: auto;
    margin-top: -450px;
    align-items: auto;

}
#Major h3{
    font-family: 'oswald',sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #6c757d !important;

}
.row.no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
    
}
.img-wrapper{
    contain:content;
    overflow: hidden;
}
.img-wrapper img{
     transition:.5s ease;    
}
.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

img{
    width: 100%;
    height: auto;

}
.container-fluid{
    padding-left: 0;
    padding-right: 0;

}
@media(min-aspect-ratio:16/9){
    #Major{
        width: 100%;
        height: auto;
    }
 
 }
 @media(max-aspect-ratio:16/9){
     #Major{
         width: auto;
         height: 100%;
     }
    }
